.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.grid-cell {
  width: 20px;
  height: 20px;
  margin: 2px;

  font-size: small;
  text-align: center;
  color: #92da26;
}

.pin {
  width: 10px;
  height: 10px;
  background-color: #fffc;
  margin: 5px;
}
