.history-list {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
}

.history-cell {
  width: 10px;
  height: 10px;
  margin: 2px;

  font-size: small;
  text-align: center;
}

.icon-alignment {
  display: flex;
  align-items: center;
}

.entry-row {
  display: flex;
  flex-direction: row;
}
